services:
  postgres:
    image: postgres:13
    container_name: java-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: password
      POSTGRES_DB: java
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
